<ion-view title="Tattoo Zeitschriften" id="page1" class=" ">
    <ion-content padding="true" class="has-header">

        <style>
            p.special{
                white-space: normal !important;
            }
        </style>


        <ion-list>
            <ion-item class="item-thumbnail-left"
                      href="https://www.amazon.de/gp/search/ref=as_li_qf_sp_sr_tl?ie=UTF8&camp=1638&creative=674
                      2&index=aps&keywords=tattoo%20erotica&linkCode=ur2&tag=tattoo0c-21">
                <img ng-src="img/tattooerotica-min.png" alt="">

                <h2>Tattoo Erotica</h2>

                <p class="special">
                    Das Magazin mit Professionell inszenierten Bildstrecken und Specials rund um den Lifestyle und
                    Tätowierungen.
                </p>
            </ion-item>

            <ion-item class="item-thumbnail-left"
                      href="https://www.amazon.de/gp/search/ref=as_li_qf_sp_sr_tl?ie=UTF8&camp=1638&creative=6742&index=aps&keywords=Taetowier%20Magazin&linkCode=ur2&tag=tattoo0c-21">
                <img ng-src="img/taetowiermagazin-min.png" alt="">

                <h2>Tätowier Magazin</h2>

                <p class="special">
                    Tätowier Magazin - Deutschlands erstes Tattoo Magazin.
                </p>
            </ion-item>

            <ion-item class="item-thumbnail-left"
                      href="https://www.amazon.de/gp/search/ref=as_li_qf_sp_sr_tl?ie=UTF8&camp=1638&creative=6742&index=aps&keywords=tattoo%20spirit&linkCode=ur2&tag=tattoo0c-21">
                <img ng-src="img/tattoospirit-min.png" alt="">

                <h2>Tattoo Spirit</h2>

                <p class="special">
                    Tattoo-Spirit ist Europas große Tattoo-Illustrierte, mit aktuellen Berichten für Einsteiger und
                    Szene-Kenner.
                </p>
            </ion-item>

            <ion-item class="item-thumbnail-left"
                      href="https://www.amazon.de/gp/search/ref=as_li_qf_sp_sr_tl?ie=UTF8&camp=1638&creative=6742&index=aps&keywords=Tattoo%20Studio%20Magazin&linkCode=ur2&tag=tattoo0c-21">
                <img ng-src="img/tattoostudio-min.png" alt="">

                <h2>Tattoo Studio</h2>

                <p class="special">
                    Tattoo Studio ist ein Themen Tattoo Magazin aus dem Kruhm Verlag.
                </p>
            </ion-item>

            <ion-item class="item-thumbnail-left"
                      href="https://www.amazon.de/gp/search/ref=as_li_qf_sp_sr_tl?ie=UTF8&camp=1638&creative=6742&index=aps&keywords=Tattoo%20Studio%20Magazin&linkCode=ur2&tag=tattoo0c-21">
                <img ng-src="img/tattooscout-min.png" alt="">

                <h2>Tattoo Scout</h2>

                <p class="special">
                    TattooScout ist ein Galerie-Magazin aus dem Kruhm Verlag.
                </p>
            </ion-item>

            <ion-item class="item-thumbnail-left"
                      href="https://www.amazon.de/gp/search/ref=as_li_qf_sp_sr_tl?ie=UTF8&camp=1638&creative=6742&index=aps&keywords=Tattoo%20Inferno&linkCode=ur2&tag=tattoo0c-21">
                <img ng-src="img/tattooinferno-min.png" alt="">

                <h2>Tattoo Inferno</h2>

                <p class="special">
                    Das neue Magazin für erotische Tattoo-Kunst mit den schönsten Models der Szene!
                </p>
            </ion-item>

            <ion-item class="item-thumbnail-left"
                      href="https://www.amazon.de/gp/search/ref=as_li_qf_sp_sr_tl?ie=UTF8&camp=1638&creative=6742&index=aps&keywords=Inked%20Magazine&linkCode=ur2&tag=tattoo0c-21"
                      alt="">

                <img ng-src="img/inkedmagazine-min.png" alt="">

                <h2>Inked Magazine</h2>

                <p class="special">
                    Inked Magazin ist ein Magazin aus der U.S.A.
                </p>
            </ion-item>

            <ion-item class="item-thumbnail-left"
                      href="https://www.amazon.de/gp/search/ref=as_li_qf_sp_sr_tl?ie=UTF8&camp=1638&creative=6742&index=aps&keywords=Inked%20Girls%20Magazine&linkCode=ur2&tag=tattoo0c-21">
                <img ng-src="img/inkedgirls-min.png" alt="">

                <h2>Inked Girls</h2>

                <p class="special">
                    Inked Girls kommt von INKED und ist deren Hot Tattooed Females Magazin.
                </p>
            </ion-item>

            <ion-item class="item-thumbnail-left"
                      href="https://www.amazon.de/gp/search/ref=as_li_qf_sp_sr_tl?ie=UTF8&camp=1638&creative=6742&index=aps&keywords=tattoo%20magazine&linkCode=ur2&tag=tattoo0c-21">
                <img ng-src="img/skindeep-min.png" alt="">

                <h2>Skin Deep Magazine</h2>

                <p class="special">
                    Skin Deep ist Englands beliebtestes Tattoo Magazin
                </p>
            </ion-item>

        </ion-list>
    </ion-content>
</ion-view>