<ion-view title="Datenschutz" id="page10" class=" ">
    <ion-content padding="true" class="has-header">

        Datenschutzbelehrung
        <br><br>

        <p>
            TattooMagazin und seine Partnerwebseiten respektieren Deine Privatsphäre. Diese Datenschutzerklärung enthält
            Informationen über unsere Datenschutzbestimmungen und -maßnahmen sowie über die Ihnen im Rahmen der
            informationellen Selbstbestimmung zustehenden Entscheidungen bezüglich der Art und Weise der Online-Erhebung
            und
            Verwendung Deiner Informationen. Diese Erklärung können Sie ganz einfach auf unserer Startseite sowie in der
            Fußzeile jeder TattooMagazin-Webseite aufrufen. Die Erhebung der personenbezogenen Daten erfolgt
            ausschließlich
            im Rahmen der Bestimmungen des Datenschutzrechts der Bundesrepublik Deutschland.

        </p>

        <p>
            Falls Sie Fragen oder Bedenken bezüglich dieser Erklärung haben, sollten Sie sich zuerst über die am Ende
            dieser
            Erklärung angegebenen Kontaktinformationen an TattooMagazin wenden.

        </p>

        <p>
            1. TattooMagazin, für die diese Datenschutzerklärung gilt<br>
            2. Erhebung personenbezogener Daten<br>
            3. Wie werden Deine Daten verwendet?<br>
            4. An wen werden Deine Daten weitergegeben?<br>
            5. Zugang und Datenintegrität<br>
            6. Cookies<br>
            7. Sicherheit Deiner personenbezogenen Daten<br>
            8. Änderungen dieser Erklärung<br>
            9. Kontakt<br>
        </p>

        TattooMagazin setzt die folgenden Tools für die automatische Datenerfassung ein:
        <br>
        • Cookies<br>
        • Web-Beacons<br>
        • DARK-Cookies<br>
        • Integrierte Weblinks<br>
        • Tools für die Sammlung von Informationen<br>
        <br>
        Google Analytics
        <br>
        <br>

        <p>
            Diese Website benutzt Google Analytics, einen Webanalysedienst der Google Inc. („Google“). Google Analytics
            verwendet sog. „Cookies“, Textdateien, die auf Deinem Computer gespeichert werden und die eine Analyse der
            Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Deine
            Benutzung
            dieser Website (einschließlich Deiner IP-Adresse in anonymisierter Form) werden an einen Server von Google
            in
            den USA übertragen und dort gespeichert. Google wird diese Informationen benutzen, um Deine Nutzung der
            Website
            auszuwerten, um Reports über die Websiteaktivitäten für die Websitebetreiber zusammenzustellen und um
            weitere
            mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen zu erbringen. Auch wird Google
            diese
            Informationen gegebenenfalls an Dritte übertragen, sofern dies gesetzlich vorgeschrieben oder soweit Dritte
            diese Daten im Auftrag von Google verarbeiten. Google wird in keinem Fall Deine IP-Adresse mit anderen Daten
            von
            Google in Verbindung bringen. Sie können die Installation der Cookies durch eine entsprechende Einstellung
            Deiner Browser Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls
            nicht sämtliche Funktionen dieser Website vollumfänglich nutzen können. Durch die Nutzung dieser Website
            erklären Sie sich mit der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen
            Art
            und Weise und zu dem zuvor benannten Zweck einverstanden. Sie können darüber hinaus die Erfassung der durch
            das
            Cookie erzeugten und auf Ihre Nutzung der Website bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie
            die
            Verarbeitung dieser Daten durch Google verhindern, indem Sie das unter dem folgenden Link verfügbare
            Browser-Plugin herunterladen und installieren: optout
        </p>

        <p>
            Diese Webseite benutzt Google Analytics mit der Erweiterung "anonymizeIP()", damit die IP-Adressen nur
            gekürzt
            weiterverarbeitet werden, um eine direkte Personenbeziehbarkeit auszuschließen.
        </p>
        Datenschutzerklärung für die Nutzung von Google Adsense
        <br>

        <p>
            Diese Website benutzt Google AdSense, einen Dienst zum Einbinden von Werbeanzeigen der Google Inc.
            („Google“).
            Google AdSense verwendet sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert werden und die eine
            Analyse der Benutzung der Website ermöglicht. Google AdSense verwendet auch so genannte Web Beacons
            (unsichtbare
            Grafiken). Durch diese Web Beacons können Informationen wie der Besucherverkehr auf diesen Seiten
            ausgewertet
            werden. Die durch Cookies und Web Beacons erzeugten Informationen über die Benutzung dieser Website
            (einschließlich Ihrer IP-Adresse) und Auslieferung von Werbeformaten werden an einen Server von Google in
            den
            USA übertragen und dort gespeichert. Diese Informationen können von Google an Vertragspartner von Google
            weiter
            gegeben werden. Google wird Ihre IP-Adresse jedoch nicht mit anderen von Ihnen gespeicherten Daten
            zusammenführen. Sie können die Installation der Cookies durch eine entsprechende Einstellung Ihrer Browser
            Software verhindern; wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht
            sämtliche
            Funktionen dieser Website voll umfänglich nutzen können. Durch die Nutzung dieser Website erklären Sie sich
            mit
            der Bearbeitung der über Sie erhobenen Daten durch Google in der zuvor beschriebenen Art und Weise und zu
            dem
            zuvor benannten Zweck einverstanden.
        </p>


        Datenschutzerklärung für die Nutzung von Facebook-Plugins (Like-Button)
        <br>
        <br>

        <p>
            Auf unseren Seiten sind Plugins des sozialen Netzwerks Facebook, 1601 South California Avenue, Palo Alto, CA
            94304, USA integriert. Die Facebook-Plugins erkennen Sie an dem Facebook-Logo oder dem „Like-Button“
            („Gefällt
            mir“) auf unserer Seite. Eine Übersicht über die Facebook-Plugins finden Sie hier:
            https://developers.facebook.com/docs/plugins/. Wenn Sie unsere Seiten besuchen, wird über das Plugin eine
            direkte Verbindung zwischen Ihrem Browser und dem Facebook-Server hergestellt. Facebook erhält dadurch die
            Information, dass Sie mit Ihrer IP-Adresse unsere Seite besucht haben. Wenn Sie den Facebook „Like-Button“
            anklicken während Sie in Ihrem Facebook-Account eingeloggt sind, können Sie die Inhalte unserer Seiten auf
            Ihrem
            Facebook-Profil verlinken. Dadurch kann Facebook den Besuch unserer Seiten Ihrem Benutzerkonto zuordnen. Wir
            weisen darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie
            deren Nutzung durch Facebook erhalten. Weitere Informationen hierzu finden Sie in der Datenschutzerklärung
            von
            facebook unter https://de-de.facebook.com/policy.php Wenn Sie nicht wünschen, dass Facebook den Besuch
            unserer
            Seiten Ihrem Facebook-Nutzerkonto zuordnen kann, loggen Sie sich bitte aus Ihrem Facebook-Benutzerkonto aus.
        </p>


        Datenschutzerklärung für die Nutzung von Twitter
        <br>
        <br>

        <p>
            Auf unseren Seiten sind Funktionen des Dienstes Twitter eingebunden. Diese Funktionen werden angeboten durch
            die
            Twitter Inc., 795 Folsom St., Suite 600, San Francisco, CA 94107, USA. Durch das Benutzen von Twitter und
            der
            Funktion „Re-Tweet“ werden die von Ihnen besuchten Webseiten mit Ihrem Twitter-Account verknüpft und anderen
            Nutzern bekannt gegeben. Dabei werden u.a. Daten wie IP-Adresse, Browsertyp, aufgerufene Domains, besuchte
            Seiten, Mobilfunkanbieter, Geräte- und Applikations-IDs und Suchbegriffe an Twitter übertragen. Wir weisen
            darauf hin, dass wir als Anbieter der Seiten keine Kenntnis vom Inhalt der übermittelten Daten sowie deren
            Nutzung durch Twitter erhalten. Aufgrund laufender Aktualisierung der Datenschutzerklärung von Twitter,
            weisen
            wir auf die aktuellste Version unter (https://twitter.com/privacy) hin. Ihre Datenschutzeinstellungen bei
            Twitter können Sie in den Konto-Einstellungen unter https://twitter.com/account/settings ändern. Bei Fragen
            wenden Sie sich an privacy@twitter.com.
        </p>


        Datenschutzerklärung für die Nutzung von Google +1
        <br>
        <br>

        <p>
            Mithilfe der Google +1-Schaltfläche können Sie Informationen weltweit veröffentlichen. Über die Google
            +1-Schaltfläche erhalten Sie und andere Nutzer personalisierte Inhalte von Google und dessen Partnern.
            Google
            speichert sowohl die Information, dass Sie für einen Inhalt +1 gegeben haben, als auch Informationen über
            die
            Seite, die Sie beim Klicken auf +1 angesehen haben. Ihre +1 können als Hinweise zusammen mit Ihrem
            Profilnamen
            und Ihrem Foto in Google-Diensten, wie etwa in Suchergebnissen oder in Ihrem Google-Profil, oder an anderen
            Stellen auf Websites und Anzeigen im Internet eingeblendet werden. Google zeichnet Informationen über Ihre
            +1-Aktivitäten auf, um die Google-Dienste für Sie und andere zu verbessern. Um die Google +1-Schaltfläche
            verwenden zu können, benötigen Sie ein weltweit sichtbares, öffentliches Google-Profil, das zumindest den
            für
            das Profil gewählten Namen enthalten muss. Dieser Name wird in allen Google-Diensten verwendet. In manchen
            Fällen kann dieser Name auch einen anderen Namen ersetzen, den Sie beim Teilen von Inhalten über Ihr
            Google-Konto verwendet haben. Die Identität Ihres Google-Profils kann Nutzern angezeigt werden, die Ihre
            E-Mail-Adresse kennen oder über andere identifizierende Informationen von Ihnen verfügen. Neben den oben
            erläuterten Verwendungszwecken werden die von Ihnen bereitgestellten Informationen gemäß den geltenden
            Google-Datenschutzbestimmungen (https://www.google.com/intl/de/policies/privacy/) genutzt. Google
            veröffentlicht
            möglicherweise zusammengefasste Statistiken über die +1-Aktivitäten der Nutzer bzw. geben diese Statistiken
            an
            unsere Nutzer und Partner weiter, wie etwa Publisher, Inserenten oder verbundene Websites.
        </p>


        Datenschutzerklärung für die Nutzung von Pinterest
        <br>
        <br>

        <p>
            Auf unserer Seite verwenden wir Social Plugins des sozialen Netzwerkes Pinterest, das von der Pinterest
            Inc.,
            635 High Street, Palo Alto, CA, 94301, USA (“Pinterest”) betrieben wird. Wenn Sie eine Seite aufrufen die
            ein
            solches Plugin enthält, stellt Ihr Browser eine direkte Verbindung zu den Servern von Pinterest her. Das
            Plugin
            übermittelt dabei Protokolldaten an den Server von Pinterest in die USA. Diese Protokolldaten enthalten
            möglicherweise Ihre IP-Adresse, die Adresse der besuchten Websites, die ebenfalls Pinterest-Funktionen
            enthalten, Art und Einstellungen des Browsers, Datum und Zeitpunkt der Anfrage, Ihre Verwendungsweise von
            Pinterest sowie Cookies. Weitere Informationen zu Zweck, Umfang und weiterer Verarbeitung und Nutzung der
            Daten
            durch Pinterest sowie Ihre diesbezüglichen Rechte und Möglichkeiten zum Schutz Ihrer Privatsphäre finden Sie
            in
            den den Datenschutzhinweisen von Pinterest: https://about.pinterest.com/de/privacy-policy
        </p>


        1. TattooMagazin, für die diese Datenschutzerklärung gilt
        <br><br>
        Diese Datenschutzerklärung gilt für alle Webseiten und TattooMagazin Domains.
        <br><br>
        Links zu Webseiten von Drittanbietern
        <br>
        <br>

        <p>
            Auf der TattooMagazin- Webseite befinden sich möglicherweise Links zu Webseiten von Drittanbietern (zum
            Beispiel
            der „Gefällt Mir“-Button von Facebook, Fanseiten Verlinkung auf Facebook, LinkedIn uva.), damit Sie schnell
            auf
            weiterführende Informationen oder andere relevante Websites zugreifen können. Durch Klicken auf diese Links
            verlassen Sie die TattooMagazin-Website. TattooMagazin hat keinerlei Kontrolle über diese Webseiten oder
            Deine
            Datenschutzpraktiken, die möglicherweise von den Praktiken von TattooMagazin abweichen.
        </p>

        <p>
            TattooMagazin drückt durch die Verknüpfung zu Webseiten von Drittanbietern keinerlei Billigung oder
            Unterstützung der dort enthaltenen Inhalte aus. Personenbezogene Daten, die Sie diesen Drittanbietern zur
            Verfügung stellen bzw. die von diesen erhoben werden, fallen nicht unter die Datenschutzerklärung von
            TattooMagazin. Sie sollten sich deshalb die Datenschutzerklärung aller Unternehmen durchlesen, bevor Sie
            diese
            personenbezogenen Informationen preisgeben.
        </p>


        2. Erhebung personenbezogener Daten
        <br>
        <br>

        <p>
            Mit dem Ziel, unsere Dienstleistungen zu verbessern und Deine Bedürfnisse und Interessen besser zu
            verstehen,
            erhebt, exportiert und verwendet TattooMagazin personenbezogene Daten. Dies geschieht nur mit entsprechenden
            Hinweisen und der Einwilligung der Betroffenen sowie der Einreichung etwaiger erforderlicher Unterlagen bei
            Datenschutzbehörden. Wenn Sie beispielsweise Produkte oder Dienstleistungen bestellen, Informationen
            anfordern,
            Marketing-oder Supportmaterial abonnieren, sich registrieren, an Wettbewerben oder Umfragen teilnehmen oder
            sich
            um eine Stellung bei TattooMagazin bewerben, bitten wir Sie um die für die Durchführung dieser Transaktionen
            erforderlichen personenbezogenen Informationen. Zu den von Ihnen auf diesen Seiten bereitgestellten
            personenbezogenen Informationen gehören gegebenenfalls Ihr Name, Deine Adresse, Deine Telefonnummer und
            Deine
            E-Mail-Adresse sowie andere eindeutige Informationen wie Benutzer-IDs und Kennwörter,
            Transaktionsinformationen,
            Deine Präferenzen bei Produkten und Dienstleistungen, bevorzugte Art der Kontaktaufnahme.
        </p>

        <p>
            Zusätzlich zu den von Ihnen bereitgestellten Informationen werden möglicherweise auch während Deiner Besuche
            von
            TattooMagazin-Websites Informationen erfasst. TattooMagazin verwendet dazu Tools für die automatische
            Datenerfassung wie Web-Beacons, Google DART- Cookie, integrierte Weblinks und andere gängige Tools für die
            Sammlung von Informationen. Diese Tools sammeln gewisse Standardinformationen, die Ihr Browser an unsere
            Website
            sendet. Dazu gehören beispielsweise Browser-Typ und -Sprache, Zugriffszeiten und die Adresse der Website,
            über
            die Sie zur TattooMagazin-Website gelangt sind. Ebenfalls erfasst werden eventuell Deine IP-Adresse,
            Clickstream-Daten (d. h. die von Ihnen aufgerufenen Seiten, die angeklickten Links und andere Aktionen
            bezüglich
            der TattooMagazin-Websites) und Produktinformationen. Eine IP-Adresse ist eine Nummer, die Deinem Computer
            beim
            Surfen im Internet zugewiesen wird und anhand der Webserver Deinen Computer lokalisieren und identifizieren
            können. Diese IP-Adresse verwenden Computer für die Kommunikation im Internet und ermöglichen so den
            Benutzern
            das Surfen und Einkaufen. Bei bestimmten von TattooMagazin gesendeten E-Mails setzt TattooMagazin
            möglicherweise
            ebenfalls einige dieser Tools für die automatische Datenerfassung ein. Diese Tools sammeln Informationen,
            wenn
            Sie die E-Mail öffnen oder auf einen in der E-Mail enthaltenen Link klicken. Zur Erhebung von Informationen
            greift TattooMagazin auch auf kommerziell erhältliche, als zuverlässig erachtete Quellen zurück. Zu den auf
            diese Weise erhaltenen Informationen gehören eventuell Name, Anschrift, E-Mail-Adresse und demografische
            Daten.
            Die von diesen kommerziellen Quellen erhaltenen Informationen werden möglicherweise zusammen mit den von
            TattooMagazin bei Deinen Besuchen von TattooMagazin-Websites erfassten Informationen verwendet. So
            vergleicht
            TattooMagazin beispielsweise geografische Informationen von kommerziellen Quellen mit der von den Tools für
            die
            automatische Datenerfassung erfassten IP-Adresse, um Rückschlüsse auf Deinen allgemeinen geografischen
            Bereich
            zu ziehen.
        </p>


        3. Wie werden Deine Daten verwendet?
        <br><br>
        Die erfassten Informationen helfen TattooMagazin dabei, den Besuchern der Websites eine einheitliche und auf sie
        persönlich abgestimmte Erfahrung zu bieten. Anhand der Informationen ist TattooMagazin in der Lage,
        <br><br>
        • Ihnen bei der Durchführung einer Transaktion oder eines Bookings behilflich zu sein;<br>
        • Ihnen Mitteilungen zu Anfragen zukommen zu lassen;<br>
        • Service und Support anzubieten:<br>
        • sich mit Ihnen im Rahmen der Marktforschung zu TattooMagazin oder -Dienstleistungen in Verbindung zu
        setzen.<br>
        <br>

        <p>
            Sie erhalten die Möglichkeit, die Datenschutzeinstellungen für die an Sie gesendeten Mitteilungen Deinen
            Wünschen entsprechend einzugeben (siehe Deine Wahlmöglichkeiten und Datenschutzeinstellungen). Das auf
            unserer
            Website veröffentlichte Kundenfeedback wird nur mit ausdrücklicher Genehmigung der Person bzw. des
            Unternehmens
            eingestellt, von der bzw. dem das Feedback stammt.
        </p>


        Kontaktformular
        <br>
        <br>

        <p>
            Wenn Sie uns per Kontaktformular Anfragen zukommen lassen, werden Ihre Angaben aus dem Anfrageformular
            inklusive
            der von Ihnen dort angegebenen Kontaktdaten zwecks Bearbeitung der Anfrage und für den Fall von
            Anschlussfragen
            bei uns gespeichert. Diese Daten geben wir nicht ohne Ihre Einwilligung weiter.
        </p>


        4. An wen werden Deine Daten weitergegeben?
        <br><br>
        Außer in den in dieser Erklärung beschriebenen Fällen gibt TattooMagazin Deine personenbezogenen Informationen
        nicht ohne Deine ausdrückliche Genehmigung an Dritte weiter, es sei denn für folgende Zwecke:
        <br><br>
        (i) in Antwort auf rechtmäßige Informationsanfragen durch polizeiliche oder staatliche Behörden;
        <br><br>
        (ii) im Rahmen der Befolgung von Gesetzen, Vorschriften, Vorladungen oder gerichtlichen Verfügungen;
        <br><br>
        (iii) zur Verhinderung von Betrug oder zur Durchsetzung bzw. zum Schutz der Rechte und des Eigentums von
        TattooMagazin und seiner Tochtergesellschaften; oder
        <br><br>
        (iv) zum Schutz der persönlichen Sicherheit von TattooMagazin-Mitarbeitern.
        <br><br>
        Es können sich aus strategischen oder anderen geschäftlichen Gründen Umstände ergeben, unter denen TattooMagazin
        sich zu einem Verkauf oder Kauf, zur Fusion oder zu einer anderweitigen Umstrukturierung entschließt. Eine
        derartige Transaktion kann die Offenlegung personenbezogener Informationen gegenüber Kaufinteressenten oder
        Käufer oder den Erhalt derartiger Informationen von Seiten des Verkäufers mit sich bringen. TattooMagazin
        schützt die dem Unternehmen anvertrauten Daten bei derartigen Transaktionen immer im weitest möglichen Umfang.
        <br><br>
        5. Zugang und Datenintegrität
        <br><br>
        TattooMagazin bemüht sich um größtmögliche Korrektheit der gespeicherten personenbezogenen Daten. Zu diesem
        Zweck hat TattooMagazin Technologien, Verwaltungsverfahren und Richtlinien implementiert. TattooMagazin
        ermöglicht Einzelpersonen in angemessenem Rahmen sowohl Zugriff auf die personenbezogenen Daten, die sie
        TattooMagazin zur Verfügung gestellt haben, als auch die Möglichkeit, diese Daten zu überprüfen und
        gegebenenfalls zu korrigieren oder eine Anonymisierung, Sperrung oder Löschung dieser Daten zu verlangen. Zum
        Schutz Deiner Privatsphäre und Deiner Sicherheit ergreifen wir darüber hinaus geeignete Maßnahmen zur
        Überprüfung Deiner Identität – beispielsweise durch Eingabe eines Kennworts und einer Benutzer-ID –, bevor wir
        den Zugriff auf Deine Daten zulassen. Um die personenbezogenen Informationen, die Sie TattooMagazin direkt
        bereitgestellt haben, einzusehen oder zu ändern, können Sie auf die Webseite zurückkehren, auf der Sie die
        Informationen ursprünglich eingegeben haben, und die dort aufgeführten Anweisungen befolgen, oder, falls diese
        Funktion verfügbar ist.
        <br><br>
        6. Cookies
        <br><br>
        Cookies sind kleine Dateien, die es ermöglichen, auf dem Zugriffsgerät der Nutzer (PC, Smartphone o.ä.)
        spezifische, auf das Gerät bezogene Informationen zu speichern. Sie dienen zum einem der Benutzerfreundlichkeit
        von Webseiten und damit den Nutzern (z.B. Speicherung von Logindaten). Zum anderen dienen sie, um die
        statistische Daten der Webseitennutzung zu erfassen und sie zwecks Verbesserung des Angebotes analysieren zu
        können. Die Nutzer können auf den Einsatz der Cookies Einfluss nehmen. Die meisten Browser verfügen eine Option
        mit der das Speichern von Cookies eingeschränkt oder komplett verhindert wird. Allerdings wird darauf
        hingewiesen, dass die Nutzung und insbesondere der Nutzungskomfort ohne Cookies eingeschränkt werden. Sie können
        viele Online-Anzeigen-Cookies von Unternehmen über die US-amerikanische Seite http://www.aboutads.info/choices/
        oder die EU-Seite http://www.youronlinechoices.com/uk/your-ad-choices/ verwalten.
        <br><br>
        7. Sicherheit Deiner personenbezogenen Daten
        <br><br>
        TattooMagazin nimmt das Vertrauen, dass Sie in uns setzen, äußerst wichtig. Um unbefugten Zugriff auf Deine
        Daten oder deren Preisgabe zu verhindern, um die Integrität der Daten zu bewahren und die angemessene Verwendung
        der Daten zu gewährleisten, setzt TattooMagazin geeignete physische, technische und administrative Verfahren zum
        Schutz der von TattooMagazin erhobenen Informationen ein.
        <br><br>
        8. Änderungen dieser Erklärung
        <br><br>
        Bei Änderungen dieser Datenschutzerklärung stellen wir die geänderte Erklärung mit dem aktuellen Revisionsdatum
        hier ein. Sollten wir an dieser Erklärung grundlegende Änderungen vornehmen, werden wir Sie möglicherweise
        ebenfalls auf andere Weise wie beispielsweise per E-Mail oder durch einen Hinweis auf unserer Startseite davon
        unterrichten. Sie können diese Datenschutzerklärung jederzeit auf den Seiten von TattrooMagazin unter dem Link
        Datenschutz abrufen, ausdrucken und speichern.
        <br><br>
        9. Kontakt
        <br><br>
        Wir wissen Deine Meinung sehr zu schätzen.
        Falls Sie Kommentare oder Fragen zu unserer Datenschutzerklärung haben, senden Sie sie bitte eine E-Mail an
        datenschutz[at]TattooMagazin.de oder schreiben Sie uns an die folgende Adresse:
        <br><br>
        KADO TATTOO ENTERTAINMENT UG (haftungsbeschränkt)<br>
        Geschäftsführer: Kai Bothstede<br>
        Lenbachstrasse 17<br>
        10245 Berlin / Germany<br>
        <br>
        Büro Berlin Friedrichshain<br>
        Tel: +49 175 / 802 802 8<br>
        eMail: office (@) tattoomagazin.de<br>
        <br>
        Stand Berlin 06. September 2016

    </ion-content>
</ion-view>