<ion-view title="Kontakt" id="page9" class=" ">
    <ion-content padding="true" class="has-header">

        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Name" ng-model="comment.name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="eMail" ng-model="comment.contact">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Title" ng-model="comment.title">
            </label>
            <label class="item item-input item-floating-label" style="background-color: rgba(255,255,255,0.8);">
                <span class="input-label">Nachricht</span>
                <input type="text" placeholder="Nachricht" ng-model="comment.description">
            </label>


            <button class="button button-block button-positive" ng-click="sendCommentToAPI()">
                Senden
            </button>
        </div>

    </ion-content>
</ion-view>