<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-dark">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu1"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu1">
        <ion-header-bar class="bar-stable">
            <div class="title">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list id="menu-list1" class=" ">
                <ion-item class="item-icon-right" id="menu-list-item1" ui-sref="menu.news" menu-close="">News
                    <i class="icon ion-speakerphone"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="menu-list-item2" ui-sref="menu.kleinanzeigen" menu-close="">
                    Kleinanzeigen
                    <i class="icon ion-android-document"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="menu-list-item3" ui-sref="menu.tattooEvents" menu-close="">
                    Tattoo Events
                    <i class="icon ion-clipboard"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="menu-list-item4" ui-sref="menu.tattooGalerie" menu-close="">
                    Tattoo Galerie
                    <i class="icon ion-images"></i>
                </ion-item>
                <ion-item class="item-icon-right  " id="menu-list-item5" ui-sref="menu.lexikon" menu-close="">
                    Tattoo Lexikon
                    <i class="icon ion-ios-book"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="menu-list-item10" ui-sref="menu.amazon" menu-close="">Tattoo
                    Zeitschriften
                    <i class="icon ion-nuclear"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="menu-list-item6" ui-sref="menu.kontakt" menu-close="">Kontakt
                    <i class="icon ion-android-mail"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="menu-list-item8" menu-close="">
                    <a href="https://www.facebook.com/TattooMagazin" style="color: #444; text-decoration: none">
                        Folge uns auf Facebook
                        <i class="icon ion-social-facebook"></i>
                    </a>
                </ion-item>
                <ion-item class="item-icon-right" id="menu-list-item7" ui-sref="menu.datenschutz" menu-close="">
                    Datenschutz
                    <i class="icon ion-lock-combination"></i>
                </ion-item>
                <ion-item class="item-icon-right" id="menu-list-item9" ui-sref="menu.impressum" menu-close="">
                    Impressum
                    <i class="icon ion-bookmark"></i>
                </ion-item>
                <ion-item>
                    Supported by: <a href="http://tattoomodels.de/">TattooModels</a>
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>