<ion-view title="{{news.title}}" id="page5" class=" ">
    <ion-content padding="true" class="has-header">

        <div style="text-align: center">
            <img ng-if="news.image" ng-src="{{thumbnailPath}}news/{{news.image}}-b.jpg" style="width: 100%">
            <img ng-if="!news.image" ng-src="../img/ionic.png">
        </div>

        <h1 id="NewsTitle-heading1" style="color:#000000;" class=" ">{{news.title}}</h1>
        <p id="NewsTitle-markdown1" style="color:#000000;" class=" ">
            {{news.short_description}}
        </p>

    </ion-content>
</ion-view>