<ion-view id="page7" class=" ">

    <ion-nav-title>
        {{event.title}}
    </ion-nav-title>

    <ion-content padding="true" class="has-header">

        <div style="text-align: center">
            <img ng-if="event.image" ng-src="{{thumbnailPath}}events/{{event.image}}-b.jpg" style="width: 100%">
            <img ng-if="!event.image" ng-src="../img/ionic.png">
        </div>

        <h1 id="NewsTitle-heading1" style="color:#000000;" class=" ">{{event.title}}</h1>

        <hr>
        <b>
            <div>Stadt: {{event.city}}</div>
            <div>Land: {{event.country}}</div>
            <div>Datum: {{date}}</div>
            <div>Kontakt: {{event.contact}}</div>
        </b>
        <hr>

        <p id="NewsTitle-markdown1" style="color:#000000;" ng-bind-html="event.description">
        </p>

    </ion-content>
</ion-view>